body {
    text-align: center;
}
#container {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.sketchBox {
    height: 20px;
    width: 20px;
    border:1px;
    border-style:solid;
}
#containerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 15px;
}